<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <select id="lang">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
    </select>
    <div id="code" name="code" style="width: 100rem; height: 35rem; background-color: black;"></div>
    <button type="button" id="btn">Submit</button>
    
    <script src="editorBundle.js"></script>
</body>

</html>

<!--style="width: 100%; height: 500px;"-->