.dropdown {
    margin: 7px 0;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}
.heading{
    text-align: center;
    padding: 10px;
    margin: 0;
    background: linear-gradient(#65afff, white);
    color: #0056b3;
    box-shadow: 2px 2px black;
}
.btn {
    margin-top: 5px;
    padding: 7px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.container {
    background-color: white;
    padding: 6px;
    display: flex;
    justify-content:space-around;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #0056b3;
}
.runButton {
    padding: 7px 17px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.runButton:hover {
    background-color: #0056b3;
}
